html,
body {
  height: 100%;
  margin: 0;
  background-color: #191c1d;
  color: #c6cbce;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1;
  padding-top: 6em;
}